@import url('https://fonts.cdnfonts.com/css/jd-lcd-rounded');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-lcd: "JD LCD Rounded", sans-serif;
  --font-bitcount: "Bitcount Grid Double", sans-serif;
}

img {
  border-style: none;
  outline: none;
}
